{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CriticVerse</title>
    <link
      rel="icon"
      type="image/webp"
      href="https://criticverse.onrender.com/static/images/favicon.webp"
    />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <script defer src="{% static 'js/index.js' %}"></script>
  </head>
  <body>
    <header>
      <a href="/" class="logo-header">
        <img src="{% static 'images/logo.webp' %}" alt="Logo de CriticVerse" />
      </a>
    </header>
    <main>
      <div role="presentation" class="background" aria-hidden="true"></div>
      <!-- Sección de bienvenida -->
      <section id="welcome-section" class="container">
        <div class="content">
          <div class="inner-content">
            <div class="header">
              <img
                src="{% static 'images/logo-vertical.webp' %}"
                alt="Logo de CriticVerse"
                class="logo"
              />
            </div>
            <p>¡Tu próxima recomendación está a un toque de distancia!</p>
            <p>
              Descubre, valora y comparte lo mejor del cine, la televisión y los
              videojuegos.
            </p>
          </div>
          <button id="go-to-more-info" class="go-to">
            Más información
            <span class="down-arrow"></span>
          </button>
        </div>
      </section>
      <!-- Sección de información -->
      <section id="info-section" class="container">
        <!-- ¿Que es CriticVerse? -->
        <section id="info-content" class="content">
          <div class="inner-content">
            <h1>
              Qué es <span class="title-1">Critic</span
              ><span class="title-2">Verse</span>?
            </h1>
            <p class="with-bold">
              Es la plataforma definitiva para los amantes del
              <span>cine, videojuegos</span> y <span>series</span>! CriticVerse
              es tu espacio para descubrir, calificar y compartir tus opiniones
              sobre tus favoritos.
            </p>
            <p class="with-bold">
              Si eres un apasionado de las críticas y buscas un lugar para
              compartir tus experiencias y explorar lo que otros piensan, ¡has
              llegado al lugar correcto! Nuestra app ofrece una experiencia
              intuitiva y personalizada, y lo mejor de todo: ¡puedes acceder
              desde tu dispositivo móvil! <span>Descarga la app</span> y únete a
              nuestra comunidad.
            </p>
          </div>
          <picure class="inner-content">
            <img
              src="{% static 'images/screenshot-1.png' %}"
              alt="capturas de pantalla de CriticVerse"
              class="feature-image bordered"
            />
          </picure>
        </section>
        <!-- Características -->
        <section id="features-content" class="content">
          <div class="inner-content">
            <h1>Características</h1>
            <p class="description">
              CriticVerse es más que una simple plataforma de críticas. Es una
              experiencia interactiva que permite a los usuarios explorar,
              calificar y compartir contenido relacionado con cine, videojuegos
              y series.
            </p>
            <p>
              A continuación, te mostramos algunas de sus características más
              destacadas:
            </p>
            <div class="features-list">
              <div class="feature-item">
                <div class="feature-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="21"
                    height="21"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="m12 17.275l-4.15 2.5q-.275.175-.575.15t-.525-.2t-.35-.437t-.05-.588l1.1-4.725L3.775 10.8q-.25-.225-.312-.513t.037-.562t.3-.45t.55-.225l4.85-.425l1.875-4.45q.125-.3.388-.45t.537-.15t.537.15t.388.45l1.875 4.45l4.85.425q.35.05.55.225t.3.45t.038.563t-.313.512l-3.675 3.175l1.1 4.725q.075.325-.05.588t-.35.437t-.525.2t-.575-.15z"
                    />
                  </svg>
                </div>
                <h2>Explora contenido de calidad</h2>
                <p>
                  Navega por un amplio catálogo de películas, series y
                  videojuegos. ¡Descubre lo que otros están viendo y jugando!
                </p>
              </div>
              <div class="feature-item">
                <div class="feature-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="21"
                    height="21"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="m12 19.654l-.758-.685q-2.448-2.236-4.05-3.828q-1.601-1.593-2.528-2.81t-1.296-2.2T3 8.15q0-1.908 1.296-3.204T7.5 3.65q1.32 0 2.475.675T12 6.289Q12.87 5 14.025 4.325T16.5 3.65q1.908 0 3.204 1.296T21 8.15q0 .996-.368 1.98q-.369.986-1.296 2.202t-2.519 2.809q-1.592 1.592-4.06 3.828z"
                    />
                  </svg>
                </div>
                <h2>Califica tus favoritos</h2>
                <p>
                  Comparte tu opinión con la comunidad. Califica tus películas,
                  videojuegos y series favoritas para ayudar a otros usuarios.
                </p>
              </div>
              <div class="feature-item">
                <div class="feature-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="21"
                    height="21"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill="currentColor"
                      d="M12.36 4C6.58 4 2.644 9.857 4.824 15.21l.933 2.288a.5.5 0 0 1-.15.579L3.634 19.66a.5.5 0 0 0 .313.89h7.82a8.73 8.73 0 0 0 8.733-8.732C20.5 7.5 17 4 12.682 4z"
                    />
                  </svg>
                </div>
                <h2>Comparte tus críticas</h2>
                <p>
                  Escribe y comparte críticas detalladas sobre los contenidos
                  que más te apasionan. ¡Hazte escuchar!
                </p>
              </div>
            </div>
            <button id="go-to-download" class="go-to">
              Descarga la app
              <span class="down-arrow"></span>
            </button>
          </div>
        </section>
      </section>
      <!-- Sección de descarga -->
      <section id="download-section" class="container">
        <div class="content">
          {% if is_mobile %}
          <h1>¡Descarga la app!</h1>
          <p>Presiona el botón para descargar CriticVerse</p>
          <a href="{{ app_link }}" download class="download-button">
            Descargar APK
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M5 20h14q.425 0 .713.288T20 21t-.288.713T19 22H5q-.425 0-.712-.288T4 21t.288-.712T5 20m7-2.625q-.225 0-.437-.1t-.363-.3l-4.95-6.35q-.375-.5-.1-1.062T7.05 9H9V3q0-.425.288-.712T10 2h4q.425 0 .713.288T15 3v6h1.95q.625 0 .9.563t-.1 1.062l-4.95 6.35q-.15.2-.363.3t-.437.1"
              />
            </svg>
          </a>
          {% elif is_pc %}
          <h1>¡Descarga la app!</h1>
          <p>Escanea el código QR para descargar CriticVerse</p>
          <div class="qr-container">
            <img src="{% url 'generate_qr' %}" alt="Código QR para APK" />
          </div>
          {% endif %}
          <button id="go-to-up" class="go-to to-up">
            Volver arriba
            <span class="up-arrow"></span>
          </button>
        </div>
      </section>
    </main>
  </body>
</html>
